<div class="mb-04 h2 text-success">
    Sign Up
</div>
<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <input class="form-control bg-body-secondary" placeholder="full name" formControlName="fullName">
        <div *ngIf="hasDisplayableError('fullName') && registrationForm.controls.fullName.hasError('required')" class="error-feedback">
            Full name is required.
        </div>
    </div>
    <div class="mb-3">
        <input class="form-control bg-body-secondary" placeholder="email" formControlName="email">
        <div *ngIf="hasDisplayableError('email') && registrationForm.controls.email.hasError('required')" class="error-feedback">
            Email is required.
        </div>
    </div>
    <div class="mb-3">
        <input class="form-control bg-body-secondary" placeholder="password" formControlName="password">
        <div *ngIf="hasDisplayableError('password') && registrationForm.controls.password.hasError('required')" class="error-feedback">
            Password is required.
        </div>
    </div>
    <div class="mb-3">
        <input class="form-control bg-body-secondary" placeholder="confirm password" formControlName="confirmPassword">
    </div>
    <div class="mt-4">
        <button type="submit" class="btn btn-success w-100 rounded-3" [disabled]="registrationForm.invalid">Register</button>
    </div>
</form>
