<div class="mb-04">
    <h2 class="text-success">Sign Up</h2>
</div>
<div>
    if you have an account, <a routerLink="/login" class="text-decoration-none fw-medium text-success d-inlin-block">sign in</a>
</div>
<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <input class="form-control bg-body-secondary" placeholder="full name" formControlName="fullName">
        <div *ngIf="hasDisplayableError('fullName')" class="error-feedback">
            <div *ngIf="registrationForm.controls.fullName.hasError('required')" class="error-feedback">
                Full name is required.
            </div>
        </div>   
    </div>
    <div class="mb-3">
        <input class="form-control bg-body-secondary" placeholder="email" formControlName="email">
        <div *ngIf="hasDisplayableError('email')">
            <div *ngIf="registrationForm.controls.email.hasError('required')" class="error-feedback">
                Email is required.
            </div>
            <div *ngIf="registrationForm.controls.email.hasError('email')" class="error-feedback">
                Invalid email format.
            </div>
        </div>
    </div>
    <div class="mb-3">
        <input class="form-control bg-body-secondary" placeholder="password" formControlName="password">
        <div *ngIf="hasDisplayableError('password')" class="error-feedback">
            <ng-container [ngSwitch]="registrationForm.controls.password.errors | firstKey">
                <div *ngSwitchCase="'required'" class="error-feedback">
                    Password is required.
                </div>
                <div *ngSwitchCase="'minlength'" class="error-feedback">
                    Password must be at least 6 characters long.
                </div>
                <div *ngSwitchCase="'pattern'" class="error-feedback">
                    Password must contain at least one special character.
                </div>
            </ng-container>   
        </div>  
    </div>
    <div class="mb-3">
        <input class="form-control bg-body-secondary" placeholder="confirm password" formControlName="confirmPassword">
        <div *ngIf="hasDisplayableError('confirmPassword')">
            <div *ngIf="registrationForm.controls.confirmPassword.hasError('passwordMismatch')" class="error-feedback">
                Passwords do not match.
            </div>
        </div>
    </div>
    <div class="mt-4">
        <button type="submit" class="btn btn-success w-100 rounded-3" [disabled]="registrationForm.invalid">Register</button>
    </div>
</form>
